{% extends 'base.html' %}

{% block title %}ToDo Tasks{% endblock %}

{% block content %}
<div class='container'>
    <div class="row row-content mb-5">
        <div class='col-12'>

            <h3>ToDo Tasks</h3>

            <div id='accordion'>
                {% if tasks %}
                {% for task in tasks %}
                <div class='card'>
                    <div class="card-header" role='tab'>
                        <h4 class='mb-0' data-toggle="collapse" data-target='#{{ task.id }}'>
                            {{ task.title }}
                        </h4>
                    </div>
                    <div role='tabpanel' class='collapse' id='{{ task.id }}' data-parent='#accordion'>
                        <div class='card-body'>
                            <p class='d-none d-sm-block'>{{ task.description }}</p>
                        </div>
                    </div>
                </div>

                {% endfor %}

                {% endif %}


            </div>
        </div>
    
    </div>

    <div class="row row-content">
        <div class="col-12">
            <h4>New Task</h4>
            <form class="task-form">
                {{ form.hidden_tag() }}
                {{ form.csrf_token() }}

                <div class="row-content justify-content-center">
                    {{ form.title(class="form-control", placeholder="Title") }}
                    {{ form.description(class="form-control", placeholder="Description") }}
                    {{ form.importance.label() }}
                    {{ form.importance(class="form-control") }}
                </div>
                <div>
                    {{ form.submit }}
                </div>

            </form>
        </div>
    </div>




</div>



{% endblock %}
